.slider{
    max-width: 512px;
    position: relative;
    
    height: 300px;
    margin-bottom: 130px;
    margin: auto;
}
.slider .item img {
    object-fit: cover;
    width: 24%;
    height: 25%;
}
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -110px;
    padding: 10px;
    color: #4682B4;
    font-weight: bold;
    font-size: 18px;
}


.slider .next {
    right: -20px;
}
.slider .prev {
    left: -30px;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 1);
}
.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}